
div{
    color: white;
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    justify-content: center;
    width: 110px;
    height: 30px;
    background: black;
    border-radius: 20px;
    transition: height 2s;
}

div:hover
{
    height: 800px;
}